@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.navIcon {
    width: 20px;
    margin: 5px;
    padding: 0;
}

.createFrom div label {
    width: 110px;
}

.createFrom div input, textarea, select {
    width: 250px;
}